* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}
.header-nav {
  padding: 20px;
}

.nav-ul {
  font-size: 0;
  
}

.name-nav {
  display: inline-block;
}

.link {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  background-color: #4A906C;
  border: 1px solid #39815B;
  width: 200px;
  text-decoration: none;
  color: white;
  padding: 20px;
}

.link:hover {
  background-color: #39815B;

}

.nav-position{
  position: relative; 
}

.sub-nav{
  display: none; 
  position: absolute;
  }

.nav-position:hover > .sub-nav {
  display: block;
}

.sub-nav-2 {
  left: 100%;
  top: 0;
}
.main {
  padding: 20px;
}

.main-text {
  font-size: 18px;
  line-height: 1.5em;
  text-align: justify;
}

